rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Indexes
    // Required for dashboard queries to get all items across all purchases for a family.
    // Fetches all purchase_items for a given familyId, ordered by purchaseDate.
    // CollectionGroup: purchase_items
    // Fields: familyId (ASC), purchaseDate (ASC)
    // Query in `src/app/(dashboard)/dashboard/page.tsx`
    
    // Fallback rule
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
